* {
    font-family: 'Merriweather', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    padding: 20px;

}

.container{

max-width: 1000px;
margin: 0 auto;
padding: 20px ;
background-color: aquamarine;

}




.box{

border: 2px solid green;

width: calc(100% / 3 - 20px);
float: left;

margin: 10px;

}

.clearfix::after{

    content: '';
    display: block;
    clear: both;

}

.box-img{

  float: left;
 width: 30%;

}

.box-info{

    float: left;
    width: 70%;

}

.img-size{
    display: block;
    width: 100%;
}